#sh_backhome_btn{position: absolute;top:2.5%;left:1.2%;width:4.6%;height:8.1%;background-size:100% 100% }
#sh_profile_btn{position: absolute;top:2%;right:8%;width:5.4%;height:10%;background-size:100% 100% }
#sh_exit_btn{position: absolute;top:4.5%;right:1.2%;width:6%;height:5%;background-size:100% 100% }
#sh_login_btn{position: absolute;top:3.5%;right:1.2%;width:6%;height:5%;background-size:100% 100% }