body, html {
    height: 100%;
    margin: 0;
}
.nunit_wrapper { position: absolute; right:7.16%;top:13.3%;width:14.68%;height:83.7%;}
li {
    list-style:none;
    margin-top: 8px;
}
.panel-default>.panel-heading {
    color: #fff;
    border-color: #ddd;
    background-color: rgba(255, 255, 255, 0);
    border-style: none;
}

.panel-group .panel+.panel {
    margin-top: 0px;
    background-color:rgba(255,255,255,0);
}
ul.list-group {
    margin:0px;
}

ul.bulletlist li {
    list-style:disc;
}


ul.list-group  li a {
    display:block;
    padding:5px 0px 5px 15px;
    text-decoration:none;
}
ul.list-group  li a:hover, ul li a:focus {
    color:#fff;

}

.panel-title a:hover,
.panel-title a:active,
.panel-title a:focus,
.panel-title .open a:hover,
.panel-title .open a:active,
.panel-title .open a:focus
{
    text-decoration:none;
    color:#fff;
}

.panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a {
    display: block;
}

.menu-hide .panel-default>.panel-heading {
    color: #fff;
    background-color: #8e8c8c;
    border-color: #ddd;
}
#sideNavbar
{
    padding-right:0;
    padding-left: 0;
}
.background_image { position: fixed; top: 0;left: 0; width:100%;height:100%; background-size: contain; z-index: -2; }

.script-content { position: absolute;top: 19.8%;left: 8%;width: 63%;height: 72%;}
.script-content-text {position: absolute;top: 0;left:0;width:100%;height:100%;}
.iframe_border{position: absolute;top: 13.2%;left: 7.2%;width: 64.7%;height: 79%;}
#new_courseware_iframe{width:100%;height:99.5%;border-radius:3%;}
#new_courseware_iframe_text{width:100%;height:100%;}

.iframe_border1{position: absolute;top: 13.2%;left: 7.2%;width: 1.7%;height: 79%;z-index: 10;}
.iframe_border2{position: absolute;top: 13.2%;left: 70.2%;width: 1.6%;height: 79%;z-index: 10;}
#sh_text_btn{position: absolute;top: 13.2%;left: 22%;width: 10%;height: 5.6%;z-index: 20;}
#sh_title_btn{position: absolute;top: 1.2%;left: 46%;width: 18%;height: 17.6%;}
#workview_btn{position:absolute;top:38.1%;right:0%;width:3.48%;height:23.6%;z-index:80;}