body{margin:0;padding: 0;width:100%;height:100%;transform-origin:top left;-ms-transform-origin:top left;
    position:absolute;margin:0 ;overflow: hidden;background-size: 100% 100%;
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}
/*.wrap{position:absolute;z-index:1;top:0;left:0;width:1280px;height:720px;transform-origin:top left;margin:0 auto;-ms-transform-origin:top left;}*/
.wrap{position:absolute;z-index:1;top:0;left:0;width:1280px;height:720px;transform-origin:top left;margin:0 auto;-ms-transform-origin:top left;}
/*.wrap{position:relative;z-index:1;width:1280px;height:720px;margin:0 auto;-ms-transform-origin:top left;}*/
/*.title{pointer-events:none;position:absolute;width:212px;height: 480px;background: url(images/title.png) no-repeat;background-size: 100% 100%;float: right;}*/
.title{pointer-events:none;position:absolute;width:212px;height: 480px;}
.content{position:absolute;width:1280px;height: 720px;margin:0;background-size: 100% 100%}

.vjs-control-bar{touch-action: auto;}

.contentWrap{position: absolute;width:1280px;height:720px;}
.videoContent{width:100%;height: 100%;transform-origin:top left;-ms-transform-origin:top left;position: absolute;top:0;left:0;z-index: 2}
.gameContent{width:100%;height: 100%;transform-origin:top left;-ms-transform-origin:top left;position: absolute;top:0;left:0;z-index: 2}

#replay{display:none; position: absolute; left: 420px; top: 250px; z-index: 100}
@media screen and (min-width : 700px) and (max-width : 800px){
    #replay{display:none; position: absolute; left: 290px; top: 240px; z-index: 100}
}

:fullscreen .contentWrap,:-webkit-full-screen .contentWrap,:-moz-full-screen .contentWrap,:-ms-fullscreen .contentWrap{
    width:100%;
    height:100%;
    margin:0;
}
:-webkit-full-screen {
    width:100%;
    height: 100%;
    margin:0;
}


.back-btn{
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
}

.vjs-fullscreen-control{
    display: none !important;
}
