.task-list-container .task-item {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 10%;
    line-height: calc(5vh);
    margin: 18px 0 0 0;
    background-color: white;
}

.task-item .task-info[item_hover="1"]:hover {
    color: #5496ea;
}

.task-item .task-info {
    font-size: calc(1.2vw);
    font-weight: 600;
}

.task-item .task-info[item_col="1"] {
    left: 10%;
    width: 14%;
}

.task-item .task-info[item_col="2"] {
    left: 26%;
    width: 18%;
}

.task-item .task-info[item_col="3"] {
    left: 46%;
    width: 22%;
}

.task-item .task-info[item_col="4"] {
    left: 69%;
    width: 24%;
}

.task-item .task-info[item_col="5"] {
    left: 89%;
    width: 14%;
}

.problem-item .prob-num {
    background-color: #a16331;
}

.problem-item .ans-img:hover,
.problem-item .ans-img[item_sel="1"] {
    background-color: #ffb72d;
}

.problem-item .ans-replay {
    pointer-events: none;
}

.problem-item .btn-prob-submit[data-status="1"] {
    background-color: #eb7305;
}
.problem-item .btn-prob-submit[data-status="1"]:hover {
    background-color: #f78723;
}

.problem-item .btn-prob-submit[data-status="next"] {
    background-color: #eb7305;
}

.problem-item .btn-prob-submit[data-status="next"]:hover {
    background-color: #f78723;
}