.task-list-container .task-item {
    /*border-bottom: 1px solid #22502b;*/
}

.task-item .task-info[item_hover="1"]:hover {
    color: #2eb92a;
}

.task-item .task-info[item_col="2"] {
    left: 40%;
}

.task-item .task-info[item_col="3"] {
    left: 68%;
}

.task-info .star-item {
    position: relative;
    display: inline-block;
    width: 9%;
    top: 5%;
    height: 78%;
    margin: 0 .5%;
    background-image: url(../../images/student/work/star0.png);
}

.task-info .star-item[item_type="1"] {
    background-image: url(../../images/student/work/star1.png);
}

.problem-item .prob-num {
    /*background-image: #23562e;*/
}

.problem-item .ans-img {
    pointer-events: none;
}

.problem-item .btn-prob-prev,
.problem-item .btn-prob-next {
    left: 66.5%;
    width: 12%;
    height: 7.5%;
    top: 93.3%;
    cursor: pointer;
    background-color: #b67035;
    background-image: url(../../images/student/work/prev.png);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.problem-item .btn-prob-prev:hover {
    background-color: #c57c38;
}

.problem-item .btn-prob-next {
    left: 84.5%;
    background-image: url(../../images/student/work/next.png);
}

.problem-item .btn-prob-next:hover {
    background-color: #c57c38;
}

.problem-item .ans-record {
    pointer-events: none;
}

.problem-item .btn-prob-submit[data-status="1"]{
    background-color: #08a6e7;
}
.problem-item .btn-prob-submit[data-status="1"]:hover{
    background-color: #31baf0;
}