.switch {
  position: absolute;
  margin: 20px auto;
  height: 7%;
  width: 296px;
  background: #5cdefe;
  border-radius: 36px;
  top:-5px;
  left:45%;
  border:5px solid #fff;

}

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 50%;
  line-height: 60px;
  font-size: 35px;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
.switch-label:active {
  font-weight: 700 !important;
}
.switch-label-off {
  padding-left: 2px;
}
.switch-label-on {
  padding-right: 2px;
}
.switch-input {
  display: none;
}
.switch-input:checked + .switch-label {
  font-weight: bold !important;
  font-family: sans-serif, Arial, Verdana, "Trebuchet MS";
  color:#5cdefe;
  /*text-shadow: 0 1px rgba(255, 255, 255, 0.25);*/
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}
.switch-input:checked + .switch-label-on ~ .switch-selection {
  left:134px;
  /* Note: left: 50% doesn't transition in WebKit */
}
.switch-selection {
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: -3px;
  width: 55%;
  height: 100%;
  background: #fff;
  border-radius: 28px;
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}

