body, html {
    height: 100%;
    margin: 0;
    overflow: auto;
}
.background_image {
    position: absolute;
    top: 0;left: 0;
    width:100%;height:136.47%;
    background-size: contain;
    z-index: -1;
}

.hdmenu{ position: absolute; left: 69.32%; top: 1%; width: 18%; height: 8.8%; }
.hdmenu img{ width: 100%; height: 100% }
.hdmenu a{ display: block; position: absolute; cursor: pointer}

.exit-btn{ position: absolute; left: 87.9%; top: 2.78%; width: 5.31%; height: 4.81%; }
.exit-btn img{ width: 100%; height: 100% }

.back-btn{ position: absolute; left: 93.84%; top: 1.37%; width: 4.31%; height: 7.8%; }
.back-btn img{ width: 100%; height: 100% }

.avatar-frame{ position: absolute; left: 1.93%; top: 12.59%; width: 11.35%; height: 30.65%; }
.avatar-frame img{ width: 100%; height: 100%; z-index: 2; }
.avatar-frame img.avatar-img{ position:absolute; left: 10%; top: 22%; width: 80%; height: 57%; z-index: 1}
.avatar-frame label.user-name{ position: absolute; left: 45%; top: 77%; width: 45%; height: 7%; color: #fff}
.avatar-frame label.school-name{ position: absolute; left: 45%; top: 87%; width: 45%; height: 7%; color: #fff; }

.dubbing-content{ position: absolute; left: 21.15%; top: 15.68%; width: 60.10%; height: 64.70%}
.dubbing-content img {position: absolute;left:4.6%;top:4%;width:92%;height:82%;}
/*.player{ position: absolute; left: 33.28%; top: 63.54%; width: 39.11%; height: 5.65% }*/

#pButton{ position: absolute; left: 32.48%; top: 74.2%; width: 2.71%; height: 4.81% }
#pButton img{ width: 100%; height: 100% }
#timeline{ position: absolute; left: 36%; top: 76%; width: 33%; height: 1.02% }
#playhead{ position: absolute; left: 36.3%; top: 75.3%; width: 1.41%; height: 2.5% }

.comment-write{ position: absolute; left: 20.36%; top: 84.41%; width: 61.92%; height: 18.53%; }
.comment-write img{ width: 100%; height: 100% }
.comment-write textarea{ position: absolute; font-size: 20px; left: 1%; top: 8%; width: 97%; height: 90%; border: none; box-shadow: none; resize: none}
.comment-write textarea:hover{ border: none; box-shadow: none; }
.comment-write textarea:focus{ border: none; box-shadow: none; }

.like-btn{ position: absolute; left: 69.01%; top: 103.43%; width: 2.13%; height: 4.02%; }
.like-btn img{ width: 100%; height: 100% }

.like-count{ position: absolute; left: 71.5%; top: 103.5%; width: 2.1%; height: 3.9%;display: table;text-align: center}
.like-count label{font-size: 1.3em; color: #fff;display: table-cell;vertical-align: middle}

.comment-btn{ position: absolute; left: 74.27%; top: 103.43%; width: 7.86%; height: 4.02%; }
.comment-btn img{ width: 100%; height: 100% }

.comment-list{ position: absolute; left: 21.35%; top: 109.98%; width: 59.89%; height: 23%; }
#totalCommentArea{ height: 100%; overflow: auto; }
.comment_item_area{
    margin-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom-style:dashed;
    border-bottom-width: 1px;
}
.comment_item_area p{
    font-size:1.3em;
    margin: 0;
}
.shooting-frame{ position: absolute; left: 19.8%; top: 12.5%; width: 63.12%; height: 71%}
.shooting-frame img{ width: 100%; height: 100% }
.shooting-content { position: absolute; left: 21.5%; top: 14.4%; width: 59.65%; height: 67.2%; }
.shooting-content video{ width: 100%; height: 100% }
.video-js {position: initial;}
.videoPlayer-dimensions {width: 0;height:0;}

/*****************************************Height Setting*******************************************/
@media (max-height:346px) {
    .avatar-frame label{
        font-size: 5px !important;
    }
}
@media (min-height:347px) and (max-height: 390px){
    .avatar-frame label{
        font-size: 6px !important;
    }
}
@media (min-height:391px) and (max-height: 480px){
    .avatar-frame label{
        font-size: 7px !important;
    }
}
@media (min-height:481px) and (max-height: 504px){
    .avatar-frame label{
        font-size: 8px !important;
    }
}
@media (min-height:505px) and (max-height: 533px){
    .avatar-frame label{
        font-size: 9px !important;
    }
}
@media (min-height:534px) and (max-height: 600px){
    .avatar-frame label{
        font-size: 10px !important;
    }
}
@media (min-height:601px) and (max-height: 640px){
    .avatar-frame label{
        font-size: 11px !important;
    }
}
@media (min-height:641px) and (max-height: 695px){
    .avatar-frame label{
        font-size: 12px !important;
    }
}
@media (min-height:696px) and (max-height: 768px){
    .avatar-frame label{
        font-size: 13px !important;
    }
}
@media (min-height:769px) and (max-height: 812px){
    .avatar-frame label{
        font-size: 14px !important;
    }
}
@media (min-height:813px) and (max-height: 960px){
    .script-title h1{ font-size: 33px;}
    .content-elem .elem-txt{font-size:22px!important}
}
@media (min-height:961px) and (max-height: 1024px){
    .script-title h1{ font-size: 36px;}
    .content-elem .elem-txt{font-size:24px !important}
}
@media (min-height:1025px) and (max-height: 1280px){

}
@media (min-height:1281px) and (max-height: 1366px){

}
@media (min-height:1367px) and (max-height: 1440px){

}
@media (min-height:1441px){

}

