body, html {
    height: 100%;
    margin: 0;
}
.custom_login_form { position: absolute; top: 31.6%; left: 40%; height: 35%; width: 24%;}
.background_image { position: fixed; top: 0;left: 0; width:100%;height:100%; background-size: contain; z-index:-1;}
.login_button_image { position: absolute; width: 39%; top: 64%; right: 39%;transition:all .6s ease-in-out;}
#login_btn_wrapper {position: absolute;top: 60%;right: 44%;}
#username { font-size: 30px;position: absolute;top: 0; width: 100%; height: 20.6%; border-width: 0; outline-width: 0;padding-left: 5%;}
#password {font-size: 30px; top: 32.3%; position: absolute; width: 100%; height: 20.6%; border-width: 0; outline: none;padding-left: 5%;}
#back_image { position: absolute; top: 86%;right: 39%; width: 39%; transition:all .6s ease-in-out;}
input:focus,
select:focus,
textarea:focus
{
    outline: none;
    background-color: #fff;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}