div p {
    font-size:inherit;
}

.profile_image {
    position: absolute;
    top: 28.5%;
    left: 20.1%;
    width: 10%;
    height: 19%;
    transform: translate(-50%, -50%);
}

.change_password_btn {
    position: absolute;
    top: 41.8%;
    left: 20.1%;
    width: 7.60%;
    height: 5.56%;
    transform: translate(-50%, -50%);
}

.edit_personal_info {
    position: absolute;
    top: 41.8%;
    left: 34.5%;
    width: 7.60%;
    height: 5.56%;
    transform: translate(-50%, -50%);
}

.comment_prev_btn,
.comment_next_btn {
    position: absolute;
    left: 17%;
    bottom: 27%;
    width: 2%;
    height: 5%;
    background: url(../../images/frontend/profile/prev.png) no-repeat;
    background-size: 100% 100% !important;
}

.comment_next_btn {
    left: 82.5%;
    background: url(../../images/frontend/profile/next.png) no-repeat;
}

.comment_prev_btn:hover {
    background: url(../../images/frontend/profile/prev_hover.png) no-repeat;
}

.comment_next_btn:hover {
    background: url(../../images/frontend/profile/next_hover.png) no-repeat;
}

.comment_list_wrapper {
    position: absolute;
    left: 50.7%;
    top: 53.2%;
    width: 62%;
    height: 35%;
    transform: translateX(-50%);
}

.comment_list_wrapper a {
    color: #fff;
}

.comment_item {
    position: relative;
    left: 0;
    width: 100%;
    height: 15%;
    padding: 0;
    margin: 2% 0;
    font-size: 15px;
    font-weight: bold;
    color: #252525;
    background: url(../../images/frontend/profile/item_bg.png) no-repeat;
    background-size: 100% 100%;
}

.comment_item_title,
.comment_item_user,
.comment_item_date,
.comment_item_title .item_type_0,
.comment_item_title .item_type_1,
.comment_item_title .item_type_2 {
    position: relative;
    display: inline-block;
    left: 4%;
    top: 24%;
    transform: translateY(-50%);
    width: 37%;
    height: 85%;
    /*vertical-align: middle;*/
    font-size: calc(2.3vh);
}

.comment_item_title {
    cursor: pointer;
}

.item_type_0,.item_type_1, .item_type_2 {
    width: 17% !important;
    height: 100% !important;
    background-size: 100% 100% !important;
    background: url(../../images/frontend/profile/itemtype1.png);
    transition: all .3s ease-in-out;
    top: 78% !important;
}

/*.item_type_1:hover {*/
/*background: url(../../images/frontend/profile/itemtype1_hover.png);*/
/*}*/
.item_type_0{
    background: transparent;
}
.item_type_2 {
    background: url(../../images/frontend/profile/itemtype2.png);
}

/*.item_type_2:hover {*/
/*background: url(../../images/frontend/profile/itemtype2_hover.png);*/
/*}*/

.comment_item_user {
    width: 25%;
}

.comment_item_date {
    width: 25%;
}

.comment_item_delete_btn {
    position: absolute;
    left: 86.78%;
    top: 50%;
    transform: translateY(-50%);
    width: 4.2%;
    height: 70%;
    background: url(../../images/frontend/profile/delete.png) no-repeat;
    background-size: 100% 100% !important;
    transition: all .3s ease-in-out;
}

.comment_item_delete_btn:hover {
    background: url(../../images/frontend/profile/delete_hover.png) no-repeat;
}

.static_info_fields,
.hidden_edit_fields {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 58%;
    top: 33%;
    width: 57%;
    height: 18%;
}

.static_info_fields .lbl-item {
    position: relative;
    display: inline-block;
    width: 27%;
    height: 41%;
    padding: 0.5% 0 0 12%;
    margin: 0;
    vertical-align: middle;
    font-size: calc(3vh);
    color: dimgrey;
}

.hidden_edit_fields .teacher_gender_edit,
.hidden_edit_fields .teacher_fullname_edit,
.hidden_edit_fields .teacher_nickname_edit {
    position: absolute;
    left: 11%;
    top: 43%;
    width: 17%;
    height: 26%!important;
    padding: 0;
    margin: 0;
    font-size: calc(1.5vw);
    color: dimgrey;
    background: transparent;
}

.hidden_edit_fields .teacher_gender_edit {
    left: 40%;
}

.hidden_edit_fields .teacher_nickname_edit {
    left: 40%;
    top: 4%;
}
.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox],
.radio input[type=radio],
.radio-inline input[type=radio]{
    top:33%;
    transform:translateY(-50%);
}

.teacher_nickname_edit {
    position: absolute;
    display: table;
    width: 10%;
    height: 5%!important;
    left: 60.2%;
    top: 27.5%;
}

.class_manage_btn {
    position: absolute;
    top: 22.5%;
    right: 21.5%;
    width: 7%;
    height: 5%;
    z-index: 100;
}

.class_list_container {
    position: absolute;
    top: 22.5%;
    left: 71.6%;
    width: 16%;
    height: 19%;
    overflow: auto;
    font-size: 16px;
    background: url(../../images/frontend/profile/classmanage_bg.png);
    background-size: 100% 100% !important;
    transition: all .3s ease-in-out;
}

.class_list_container:hover {
    background: url(../../images/frontend/profile/classmanage_bg_hover.png);
}

#class_list_chks {
    position: absolute;
    top: 4.5%;
    left: 46%;
    width: 50%;
    height: 90%;
    overflow: auto;
    font-size: 16px;
    /*//background: url(../../images/frontend/profile/classmanage_bg.png);*/
    background-size: 100% 100% !important;
}

#class_list_chks label {
    color: dimgrey !important;
}

.teacher_fullname_edit .form-control,
.teacher_nickname_edit .form-control {
    height: 100%;
}

.custom-checkbox > [type="checkbox"],
.custom-checkbox > label {
    margin-bottom: 0px !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.custom-checkbox > [type="checkbox"]:not(:checked),
.custom-checkbox > [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

.custom-checkbox > [type="checkbox"]:not(:checked) + label,
.custom-checkbox > [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 22px;
    cursor: pointer;
}

.custom-checkbox > [type="checkbox"]:not(:checked) + label:before,
.custom-checkbox > [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -9px;
    width: 17px;
    height: 17px;
    border: 1px solid #ddd;
    background: #ffffff;
    border-radius: 10px;
}

.custom-checkbox > [type="checkbox"]:not(:checked) + label:after,
.custom-checkbox > [type="checkbox"]:checked + label:after {
    font: normal normal normal 12px/1 'Glyphicons Halflings';
    content: '\e013';
    position: absolute;
    top: 50%;
    margin-top: -7px;
    left: 2px;
    color: #94C947;
    xtransition: all .2s;
}

.custom-checkbox > [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}

.custom-checkbox > [type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}

.custom-checkbox > [type="checkbox"][data-indeterminate] + label:after,
.custom-checkbox > [type="checkbox"][data-indeterminate] + label:after {
    content: '\2212';
    left: 2px;
    opacity: 1;
    transform: scale(1);
}

.custom-checkbox > [type="checkbox"]:disabled:not(:checked) + label:before,
.custom-checkbox > [type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    background-color: #eeeeee;
    border-color: #eeeeee;
    cursor: not-allowed;
    opacity: 1;
    color: #dadada;
}

.custom-checkbox > [type="checkbox"]:disabled:checked + label:after {
    color: #dadada;
    cursor: not-allowed;
}

.custom-checkbox > [type="checkbox"]:disabled + label {
    color: #aaa;
    cursor: not-allowed;
}

.custom-checkbox > [type="checkbox"]:checked:focus + label:before,
.custom-checkbox > [type="checkbox"]:not(:checked):focus + label:before {
    border: 1px solid #66afe9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.custom-checkbox > label:hover:before {
    border: 1px solid #88D2FF !important;
}

.custom-checkbox > [type="checkbox"]:disabled:not(:checked) + label:hover:before,
.custom-checkbox > [type="checkbox"]:disabled:checked + label:hover:before {
    border: 1px solid #E4E4E4 !important;
}
.teacher_username_lbl,
.teacher_school_lbl,
.teacher_fullname_lbl,
.teacher_gender_lbl,
.teacher_nickname_lbl{
    font-size:calc(1.5vw);
}
.teacher_username_lbl {
    position: absolute;
    display: table;
    width: 15%;
    height: 7%;
    left: 13%;
    top: 18%;
    transform: translateY(-47%);
}

.teacher_nickname_lbl {
    position: absolute;
    display: table;
    width: 15%;
    height: 7%;
    left: 41.2%;
    top: 18%;
    transform: translateY(-47%);
}

.teacher_school_lbl {
    position: absolute;
    display: table;
    width: 15%;
    height: 5%;
    left: 65%;
    top: 57%;
    transform: translateY(-45%);
}

.teacher_gender_lbl {
    position: absolute;
    display: table;
    width: 15%;
    height: 5%;
    left: 41%;
    top: 57%;
    transform: translateY(-45%);
}

.teacher_fullname_lbl {
    position: absolute;
    display: table;
    width: 15%;
    height: 5%;
    left: 13.2%;
    top: 57%;
    transform: translateY(-45%);
}

.teacher_gender_edit {
    position: absolute;
    display: table;
    width: 10%;
    height: 5%;
    left: 36%;
    top: 36.5%;
}

.teacher_fullname_edit {
    position: absolute;
    display: table;
    width: 10%;
    height: 5%;
    left: 60.2%;
    top: 21%;
}

.teacher_nickname_edit {
    position: absolute;
    display: table;
    width: 10%;
    height: 5%;
    left: 60.2%;
    top: 27.5%;
}

.teacher_gender_edit input {
    width: calc(1.3vw);
    height: calc(1.7vh);
}

.form-control {
    height: 30px;
}

/*@media (max-width: 769px) {*/
    /*.form-group {*/
        /*margin-bottom: 30px;*/
    /*}*/
/*}*/

.modal-content {
    width: 400px !important;
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    margin-top: 16% !important;
    transform: translate(0, 0);
}

.static_info_fields p {    font-size: calc(1.3vw);
    transform: translateY(-5%);}
.share_item_title,.comment_item_title {font-size: calc(1.1vw);}
.form-control {
    padding: 4px 12px;
    font-size: calc(1.0vw);
}

.checkbox-inline, .radio-inline {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
    font-size: calc(1.0vw);
}