.profile_image { position: absolute; top: 28.5%; left: 20.1%; width:10%; height:19%; transform: translate(-50%,-50%); }
.change_password_btn { position: absolute;top:41.8%; left: 20.1%;width:7.60%; height:5.56%; transform: translate(-50%,-50%); }
.edit_personal_info { position: absolute; top:41.8%;left:34.5%; width:7.60%; height:5.56%; transform: translate(-50%,-50%); }
.share_prev_btn {     position: absolute;
    left: 17%;
    bottom: 27%;
    width: 2%;
    height: 5%;}
.share_next_btn { position: absolute; left: 82.5%;    bottom: 27%;
    width: 2%;
    height: 5%;}

.share_list_wrapper {    position: absolute;
    left: 50.7%;
    top: 53.2%;
    width: 62%;
    height: 35%;
    transform: translateX(-50%);}
.share_item_title {position: absolute;left:4.64%;width:77.5%;height:13.9%;padding-top: 1.7%;padding-left: 7%;font-size: 15px;font-weight: bold;color: #252525;}
.share_item_delete_btn {position: absolute;left:86.78%;width: 8.9%;height: 14.9%;}
.static_info_fields p {vertical-align: bottom;display: table-cell;font-size: 25px;font-weight: bold;color:dimgrey}
.student_username_lbl
{
    position: absolute;
    display: table;
    width: 7%;
    height: 5%;
    left: 36%;
    top: 24.5%;
}
.student_nianji_lbl {position: absolute;
    display: table;
    width: 8%;
    height: 5%;
    left: 61%;
    top: 24.5%;}
.student_banji_lbl{    position: absolute;
    display: table;
    width: 7%;
    height: 5%;
    left: 36%;
    top: 31.5%;}
.student_gender_lbl {
    position: absolute;
    display: table;
    width: 8%;
    height: 5%;
    left: 61%;
    top: 31.5%;}
.student_fullname_lbl{
    position: absolute;
    display: table;
    width: 7%;
    height: 5%;
    left: 48%;
    top: 24.5%;}
.student_school_lbl {
    position: absolute;
    display: table;
    width: 9%;
    height: 5%;
    left: 74.2%;
    top: 24.5%;}
.student_nickname_lbl{
    position: absolute;
    display: table;
    width: 9%;
    height: 5%;
    left: 48.2%;
    top: 31.2%;}
.student_serialnum_lbl {
    position: absolute;
    display: table;
    width: 15%;
    height: 5%;
    left: 74.2%;
    top: 31.5%;}
.student_nianji_edit {    position: absolute;
    display: table;
    width: 8%;
    height: 4%;
    left: 61%;
    top: 25.2%;}
.student_banji_edit{    position: absolute;
    display: table;
    width: 7%;
    height: 4%;
    left: 36%;
    top: 32.2%;}
.student_gender_edit {position: absolute;
    display: table;
    width: 7%;
    height: 4%;
    left: 62%;
    top: 33%;}
.student_fullname_edit{position: absolute;
    display: table;
    width: 8%;
    height: 4%;
    left: 48.2%;
    top: 25.2%;}
.student_nickname_edit{    position: absolute;
    display: table;
    width: 8%;
    height: 4%;
    left: 48.2%;
    top: 32.2%;}
.student_serialnum_edit {position: absolute;
    display: table;
    width: 7%;
    height: 4%;
    left: 74.2%;
    top: 32.2%;}

.comment_item {
    position: relative;
    left: 0;
    width: 100%;
    height: 15%;
    padding: 0;
    margin: 2% 0;
    font-size: 15px;
    font-weight: bold;
    color: #252525;
    background: url(../../images/frontend/profile/item_bg.png) no-repeat;
    background-size: 100% 100%;
}
.comment_item_title, .comment_item_user, .comment_item_date, .comment_item_title .item_type_0, .comment_item_title .item_type_1, .comment_item_title .item_type_2 {
    position: relative;
    display: inline-block;
    left: 4%;
    top: 24%;
    transform: translateY(-50%);
    width: 37%;
    height: 85%;
    /*vertical-align: middle;*/
    font-size: calc(2.3vh);
}
.comment_item_title{
    cursor:pointer;
}
.comment_item_user {
    width: 25%;
}
.item_type_0,.item_type_1, .item_type_2 {
    width: 17% !important;
    height: 100% !important;
    background-size: 100% 100% !important;
    background: url(../../images/frontend/profile/itemtype1.png);
    transition: all .3s ease-in-out;
    top: 78%!important;
}
.item_type_0{
    background:transparent;
}
/*.item_type_1:hover{*/
    /*background: url(../../images/frontend/profile/itemtype1_hover.png);*/
/*}*/
.item_type_2{
    background: url(../../images/frontend/profile/itemtype2.png);
}
/*.item_type_2:hover{*/
    /*background: url(../../images/frontend/profile/itemtype2_hover.png);*/
/*}*/
.comment_item_delete_btn {
    position: absolute;
    left: 86.78%;
    top: 50%;
    transform: translateY(-50%);
    width: 4.2%;
    height: 70%;
    background: url(../../images/frontend/profile/delete.png) no-repeat;
    background-size: 100% 100% !important;
    transition: all .3s ease-in-out;
    cursor:pointer;
}
.comment_item_delete_btn:hover{
    background: url(../../images/frontend/profile/delete_hover.png) no-repeat;
}
.form-control {
        height:100%;
}


.modal.in .modal-dialog {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    margin-top: 16%!important;
    transform: translate(0,0);
}

@media (max-height:346px) {
    .static_info_fields p {font-size: 12px;}
    .share_item_title,.comment_item_title {font-size: 8px;}
    .form-control {
        padding: 0 0px;
        font-size: 8px;
    }
    #gender_options label{
        font-size: 11px !important;
    }
    .student_gender_edit {
        width: 17% !important;
        top: 40% !important;
    }
}
@media (min-height:347px) and (max-height: 390px){
    .static_info_fields p {font-size: 9px;}
    .share_item_title,.comment_item_title {font-size: 9px;}
    .form-control {
        padding: 0 5px;
        font-size:12px;
    }
    #gender_options label{
        font-size: 11px !important;
    }
    .student_gender_edit {
        width: 17% !important;
    }
}
@media (min-height:391px) and (max-height: 480px){
    .static_info_fields p {font-size: 14px;}
    .share_item_title,.comment_item_title {font-size: 9px;}
    .form-control {
        padding: 0 12px;
        font-size:12px;
    }
}
@media (min-height:481px) and (max-height: 504px){
    .static_info_fields p {font-size: 16px;}
    .share_item_title,.comment_item_title {font-size: 9px;}
    .form-control {
        padding: 0 12px;
        font-size:12px;
    }
}
@media (min-height:505px) and (max-height: 533px){
    .static_info_fields p {font-size: 17px;}
    .share_item_title,.comment_item_title {font-size: 9px;}
    .form-control {
        padding: 0 12px;
        font-size:13px;
    }
}
@media (min-height:534px) and (max-height: 600px){
    .static_info_fields p {font-size: 18px;}
    .share_item_title,.comment_item_title {font-size: 9px;}
    .form-control {
        padding: 0 12px;
        font-size:14px;
    }
}
@media (min-height:601px) and (max-height: 640px){
    .static_info_fields p {font-size: 19px;}
    .share_item_title,.comment_item_title {font-size: 12px;}
    .form-control {
        padding: 0 12px;
        font-size:15px;
    }
}
@media (min-height:641px) and (max-height: 695px){
    .static_info_fields p {font-size: 20px;}
    .share_item_title,.comment_item_title {font-size: 12px;}
    .form-control {
        padding: 2px 12px;
        font-size:16px;
    }
}
@media (min-height:696px) and (max-height: 768px){
    .static_info_fields p {font-size: 21px;}
    .share_item_title,.comment_item_title {font-size: 16px;}
    .form-control {
        padding: 2px 12px;
        font-size:18px;
    }
}
@media (min-height:769px) and (max-height: 812px){
    .static_info_fields p {font-size: 22px;}
    .share_item_title,.comment_item_title {font-size: 16px;}
    .form-control {
        padding: 4px 12px;
        font-size:20px;
    }
}
@media (min-height:813px) and (max-height: 960px){
    .static_info_fields p {font-size: 23px;}
    .share_item_title,.comment_item_title{font-size: 16px;}
    .form-control {
        padding: 4px 12px;
        font-size:22px;
    }
}
@media (min-height:961px) and (max-height: 1024px){
    .static_info_fields p {font-size: 24px;}
    .share_item_title,.comment_item_title {font-size: 16px;}
    .form-control {
        padding: 4px 12px;
        font-size:22px;
    }
}
@media (min-height:1025px) and (max-height: 1280px){
    .static_info_fields p {font-size: 25px;}
    .share_item_title,.comment_item_title{font-size: 16px;}
}
@media (min-height:1281px) and (max-height: 1366px){
    .static_info_fields p {font-size: 26px;}
    .share_item_title,.comment_item_title{font-size: 17px;}
}
@media (min-height:1367px) and (max-height: 1440px){
    .static_info_fields p {font-size: 27px;}
}
@media (min-height:1441px){
    .static_info_fields p {font-size: 28px;}
    .share_item_title,.comment_item_title{font-size: 18px;}
}

.form-control{
    height:30px;
}
@media (max-width:769px){
    .form-group{
        margin-bottom:30px;
    }
}
.modal-content{
    width:400px!important;
 }
.static_info_fields p {    font-size: calc(1.3vw);
    transform: translateY(-15%);}
.share_item_title,.comment_item_title {font-size: calc(1.1vw);}
.form-control {
    padding: 4px 12px;
    font-size: calc(1.0vw);
}

.checkbox-inline, .radio-inline {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
    font-size: calc(1.0vw);
}