.profile_image { position: fixed; top: 21.32%; left: 13.94%; width:9.21%; height:19.81%; background-size: contain }

.share_prev_btn { position: absolute; left:13%; bottom:20%; width:3.22%;height:13.6%;}
.share_next_btn { position: absolute; right:13%;bottom:20%;width:3.22%;height:13.6%;}

.share_list_wrapper {position: absolute;left:16.1%;top:57%; width:67.7%; height:33.7%;}
.comment_list_wrapper {position: absolute;right:16.1%;top:57%; width:29.2%; height:33.7%;}
.share_item_title {position: absolute;left:4.64%;width:77.5%;height:13.9%;padding-top: 1.7%;padding-left: 7%;font-size: 15px;font-weight: bold;color: #252525;}
.comment_item_title {position: absolute;left:4.64%;width:77.5%;height:13.9%;padding-top: 1.7%;padding-left: 7%;font-size: 15px;font-weight: bold;color: #252525;}
.static_info_fields p {vertical-align: bottom;display: table-cell;font-size: 31px;font-weight: bold;color: #fff}
.visitor_username_lbl{position: absolute;display: table;width: 15%;height: 5%;left: 38%;top: 29%;}
.visitor_school_lbl {position: absolute;display: table;width: 15%;height: 5%;left: 38%;top: 35%;}

.content_block
{
    height:100%;
    left:4%;

}
.item_left
{
    position: absolute;
    text-align: center;
    height: 13.9%;
    display: table;
}
.item_title{
  display: table-cell;
  vertical-align: middle;
}
.item_title a{
    font-size:20px;
    text-decoration: none;
    color:#fff;

}

