.resource_list_container {
    position: absolute;
    width: 64%;
    height: 72%;
    top: 19%;
    left: 20%;
    overflow-y: auto;
}

.res_menu_container{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index:1000;
}

.item{
    position: absolute;
    top:0;
    left:0;
    background-size: 100% 100% !important;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.menu_item1{
    width: 15.5%;
    height: 11%;
    left: 26.3%;
    top: 3.1%;

}

.menu_item2{
    width: 17.3%;
    height: 11%;
    left: 42.6%;
    top: 3.1%;
}

.menu_item3{
    width: 16.3%;
    height: 10.5%;
    left: 60.9%;
    top: 3.6%;
}

.list_item {
    position: relative;
    display: inline-block;
    width: 20%;
    height: 20%;
    background-size: 100% 100% !important;
    margin-left: 2.3%;
    margin-right: 2.3%;
    margin-bottom: 1.2%;
    margin-top: 1.2%;
    transition: all .2s ease-in-out;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw);
    height: calc(100vh);
}

