body, html {
    height: 100%;
    margin: 0;
}
.background_image {
    position: fixed;
    top: 0;left: 0;
    width:100%;
    height:100%;
    background-size: contain
}
/******************************Below part relate with head menu********************************************************************/
.course_type_menu {position: absolute;left:28.5%;top:1.06%;width:34.1667%;height:8.7%;}
.course_type_menu img{width:100%;height: 100%;}
.course_type_menu a{ display: block; position: absolute; }

.switch{ position: absolute; left: 38.8%; top: 0.9%; width: 21.61%; height: 7.87%; }
.switch img{ width: 100%; height: 100% }

.hdmenu{ position: absolute; left: 70.47%; top: 0.6%; width: 18%; height: 8.8%; }
.hdmenu img{ width: 100%; height: 100% }
.hdmenu a{ display: block; position: absolute; }

.exit-btn{ position: absolute; left: 88.75%; top: 2.5%; width: 5.31%; height: 4.81%; }
.exit-btn img{ width: 100%; height: 100% }

.return_btn{width: 4.1%; height: 7.6%; position: absolute; right: 1.7%; top:1.3%}
.previous_Btn { position: absolute;left:41%;bottom:10.6%;width:7.5%;height:5.2%;}
.next_Btn {position: absolute;left:51.7%;bottom:10.6%;width:7.5%;height:5.2%;}
/************************************old css*******************************************************************************************/
/*pms add-code*/
.modal-backdrop.fade.in {
    opacity: 0.2;
    filter: alpha(opacity=100);
}
/*This is for pagenation module*/
.pg-normal {
    color: black;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
}
.content_item_wrapper
{
    width:100%;
    margin-top:28px;
    height:54px;
}
.content_list_wrapper
{
    position: absolute;
    left:17.8%;
    top:24.6%;
    width:64.84%;
    height:57.29%;
    /*background-color: #c0b696;*/
}
.list_item_wrapper { position: absolute; left:0;width:100%; height:9.2%; }
.local_mark { position: absolute; left:0; width:4.43%; height: 100%; background-size: 100% 100%;}
.cloud_mark { position:absolute;left:5%;width:4.43%; height: 100%; background-size: 100% 100%; }
.cloud_mark2 { position: absolute;left:0;width:4.43%;height: 100%;  background-size: 100% 100%;}

/********************************************************/
.local_mark .local_tooltiptext {
    visibility: hidden;
    width: 100%;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 10%;
    right: 110%;
    opacity: 0;
    transition: opacity 1s;
}

.local_mark .local_tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}

.local_mark:hover .local_tooltiptext {
    visibility: visible;
    opacity: 1;
}
.cloud_mark .cloud_tooltiptext {
    visibility: hidden;
    width: 100%;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 19%;
    left: 110%;
    opacity: 0;
    transition: opacity 1s;
}

.cloud_mark .cloud_tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent ;
}

.cloud_mark:hover .cloud_tooltiptext {
    visibility: visible;
    opacity: 1;
}
.cloud_mark2 .cloud2_tooltiptext {
    visibility: hidden;
    width: 100%;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 10%;
    right: 110%;
    opacity: 0;
    transition: opacity 1s;
}

.cloud_mark2 .cloud2_tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}

.cloud_mark2:hover .cloud2_tooltiptext {
    visibility: visible;
    opacity: 1;
}

.home_btn{width:4.2%;height:7.5%;position: absolute;left:1.7%;top:1.5%;}